
@{
    ViewBag.Title = "TokenLogin";
}

<h2>TokenLogin</h2>
<div class="row" style="margin-top: 60px;">
    <div class="col-lg-8 col-lg-offset-2">
        <legend>Token Log In</legend>

        <form class="well" action="~/Home/TokenCheck" method="post">

            <legend><small>Token</small></legend>
            <input type="text" name="token"  class="form-control" />
            <br />
            <input type="submit" name="" value="Verify" class="btn btn-primary" />

        </form>
    </div>
</div>
