@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>USER DASHBOARD</h1><br>
        <table>
            <tr>

            </tr>
        </table>
    </div>
</body>
</html>
