@{
    ViewBag.Title = "Home Scheyss";
}

<div class="row">  
    <div class="col-md-8 col-md-offset-2">
        <legend> LogIn</legend>
		<form>
            <input type="text" class="form-control"/>
			<input type="password" class="form-control"/>
			<input type="submit" class="btn btn-primary"/>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
			
		</form>
	</div>
</div>