<!DOCTYPE html>
<html>
<head>
	<meta name="google-signin-client_id" content="612097052819-qebs7hloe5bsf39mv8crl3vve67g30af.apps.googleusercontent.com">
    <title>@ViewBag.Title</title>

</head>
<body>
	@RenderBody()
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>
