<div class ="row">
    <div class="col-md-8 col-md-offset-2" style="marging-top:60px;">
        <form class="well" action="~/Home/Login" method="POST">
            <label><b>Username</b></label>
            <input type="text" value=""  name="username" class="form-control">

            <label><b>Password</b></label>
            <input type="password" value=""  name="password" class="form-control">  

            <button type="submit" value="Login" class="btn btn-primary"></button>
			@Html.Raw(ViewBag.Message)
        </form>
      
    </div>
</div>